@model Web_Shop_Zay.Models.Khach_Hang
@{
    ViewBag.Title = "AddKhachHang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
<div class="container" style="margin-top:20px">
    <div class="bodylogin">

        <div class="login shadow-lg p-3 mb-5  rounded-4 ">

            <h1 class="text-center">Xin chào</h1>
            <p class="text-center">Đăng nhập vào tài khoản của bạn</p>

            <form class="need-validation" action="DangNhap" method="post">
                <!-- can xac thuc -->
                <!-- tao email & password -->
                <div class="form-group was-validated ">
                    <!--da xac thuc -->
                    <label class="form-label fw-bold" for="email">Email</label>
                    <input class="form-control" type="email" id="email" placeholder="" name="Email" required>
                    <div class="invalid-feedback fs-6">
                        Vui lòng nhập địa chỉ Email!
                    </div>
                </div>

                <div class="form-group was-validated mt-3">
                    <!--da xac thuc -->
                    <label class="form-label fw-bold" for="password">Mật khẩu</label>
                    <input class="form-control" type="password" id="password" placeholder="" name="MatKhau" required>
                    <div class="invalid-feedback fs-6">
                        Vui lòng nhập mật khẩu!
                    </div>
                </div>


                <!-- tao nut dang nhap -->
                <div class="input-group mb-5 mt-3 d-flex justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check">
                        <label class="form-check-label" for="check">Ghi nhớ đăng nhập</label>
                    </div>
                    <div class="forgot">
                        <small><a href="#" style="text-decoration: none;">Quên mật khẩu?</a></small>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-success w-100 fs-6">Đăng nhập</button>
                    <!-- <input class="btn btn-success w-100" type="submit" value="Đăng Nhập"> -->
                </div>
                <div class="Google input-group mb-3">
                    <button class="btn btn-lg w-100 fs-6"> <img src="assets/img/google.png" style="width: 20px;" class="me-2" alt="#"><small>Đăng nhập bằng Google</small></button>
                </div>

                <!-- chi den phan dang ky -->
                <div class="new">
                    <small style="font-size: 15px;">Bạn không có tài khoản?<a href="~/ThongTin/DangKy" style="text-decoration: none;"> Tạo tài khoản</a></small>
                </div>

            </form>

        </div>
    </div>
</div>




