
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Đôi chút về chúng tôi</h1>
                <p>
                    JEY là một trang web bán hàng online hàng đầu về Giày dép và phụ kiện cho cả nam và nữ.
                    Chúng tôi mang đến cho bạn những sản phẩm chất lượng cao, phong cách hiện đại trẻ trung và giá cả hợp lý.
                    Hãy khám phá thế giới thời trang đa dạng và phong phú của JEY ngay hôm nay.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Asset/img/c2_prev_ui.png" alt="" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Các Dịch Vụ</h1>
            <p>
                Chúng tôi cung cấp những dịch vụ đầy đủ,
                cần thiết và chất lượng cho từng khách hàng đến mua sắm.
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-10 py-5 services-icon-wap shadow rounded-3">
                <div class="h1 text-success text-center"><i class="fa-solid fa-truck-fast"></i></div>
                <h2 class="h5 mt-4 text-center">Dịch Vụ Vận Chuyển</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow rounded-3">
                <div class="h1 text-success text-center"><i class="fa-solid fa-arrows-rotate"></i></div>
                <h2 class="h5 mt-4 text-center">Giao Hàng & Trả Hàng</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow rounded-3">
                <div class="h1 text-success text-center"><i class="fa-solid fa-gift"></i></div>
                <h2 class="h5 mt-4 text-center">khuyến Mãi</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow rounded-3">
                <div class="h1 text-success text-center"><i class="fa-solid fa-hand-holding-hand"></i></div>
                <h2 class="h5 mt-4 text-center">Cung Cấp Dịch Vụ 24/24</h2>
            </div>
        </div>
    </div>
</section>
<section class=" py-5" id="brand_bg">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Các Nhãn Hiệu Của Chúng Tôi</h1>
                <p>
                    Chúng tôi cung cấp những sản phẩm của các nhãn hiệu uy tín,
                    nổi tiếng hàng đầu thế giới
                </p>
            </div>
            <div class="col-lg-9 m-auto carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#slide-brand" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="slide-brand" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img " id="brand_logo" src="~/Asset/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" id="brand_logo" src="~/Asset/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#slide-brand" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>

