@model Web_Shop_Zay.Models.Hoa_Don

@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container" style="margin-top:20px">
    <div class="biglogin">

        <div class="bodysignup">

            <div class="login shadow-lg p-3 mb-5 rounded-4 ">

                <h1 class="text-center">Tạo tài khoản</h1>
                <p class="text-center">Hãy điền đầy đủ thông tin bên dưới để đăng ký tài khoản</p>

                <form class="" action="HoaDon" method="post">
                    <input type="hidden" name="IDKhachHang" value="@Session["idkhachhang"]">
                    <!-- tao cac thanh phan dang ky -->
                    <div class="form-group">
                        <label class="form-label fw-bold" for="text">Ghi chú</label>
                        <input class="form-control" type="text" id="username" placeholder="Ghi chú" name="GhiChuNN" required>
                        <!-- <div class="invalid-feedback fs-6">
            Vui lòng nhập tên của bạn
        </div> -->
                    </div>
                    <input type="hidden" name="NgayMua" value="@DateTime.Now.ToShortDateString()">
                    <button class="btn btn-lg btn-success w-100 fs-6">Tiếp theo</button>
                </form>
            </div>
        </div>
    </div>
</div>