
.alert-success.new {
    background: none;
    border: none;
    border-left: 4px solid green;
    border-radius: 0;
    background: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    animation:pal .3s ease 
}
@keyframes pal{
    to{
        transform: translateX(50px)
    }
    from{
        transform: translateX(0px);
        opacity:0;
    }

}

.alert-success.new2 {
    background: #f3f8f3;
    border: none;
    border-left: 4px solid #45D298;
    border-radius: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}

    .alert-success.new2.p-4 {
        padding: 0.75rem 0.75rem !important;
    }

    .alert-success.new2 .fa {
        color: #45D298;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 40px;
    }

.alert-success .alert-body {
    padding-left: 0.75rem;
    display: table-cell;
    color: rgba(0,0,0,0.5);
}

.alert-success .alert-header {
    font-weight: 700;
    color: #45D298;
    padding: 0;
    margin: 0;
}
