.box{
    display: block;
    background-color: blueviolet;
    padding: 20rem;
}

:root {
    --bs-bg-dark: #303030;
    --bs-bg-light: #e9eef5;
    --bs-text-dark: #f8f9fa;
    --bs-nav-dark: #68bb7d;

    --bs-brands-dark: #373c41;
}

.dark-mode {
    background-color: var(--bs-bg-dark);
    color: var(--bs-text-dark);
    transition: 1s;
}

/* .dark-mode .content1{
     background-color: var(--bs-bg-dark);
    color: var(--bs-text-dark);
} */



/*nav header*/
.dark-mode #main_nav{
    background-color: var(--bs-nav-dark);
    color: var(--bs-text-dark);
    transition: 1s;
}

.dark-mode #templatemo_main_nav a:hover { color: #ffffff;}

#logocolor { color: #68bb7d;}
.dark-mode #logocolor { color: #ffffff;}

.dark-mode #search_icon_nav{ color: #ffffff;}
.dark-mode #cart_icon_nav{ color: #ffffff;}
.dark-mode #user_icon_nav{ color: #ffffff;}

#user_span_nav{ 
    background-color: var(--bs-bg-light);
    color: var(--bs-bg-dark);
}
.dark-mode #user_span_nav{
    background-color: var(--bs-bg-dark);
    color: var(--bs-bg-light);
}

#cart_span_nav{
    background-color: var(--bs-bg-light);
    color: var(--bs-bg-dark);
}
.dark-mode #cart_span_nav{
    background-color: var(--bs-bg-dark);
    color: var(--bs-bg-light);
}

/* gioi thieu*/
#brand_bg{
    background-color: var(--bs-bg-light);

}
.dark-mode #brand_bg{
    background-color: var(--bs-brands-dark);
    color: var(--bs-text-dark);
   
}

#brand_logo{
    border-radius: 10px;
}


/* index*/
.dark-mode #banner_hero{
    background-color: var(--bs-brands-dark);
    color: var(--bs-text-dark);
    transition: 1s;
}
#feat_p{
    background-color: var(--bs-bg-light);
}
.dark-mode #feat_p{
    background-color: var(--bs-brands-dark);
}
.dark-mode #card_black{
    background-color: var(--bs-bg-dark);
}

#name_card{
    color: var(--bs-bg-dark);
}
.dark-mode #name_card{
    color: var(--bs-text-dark);
}

.search-box {
    /* position: absolute;
    top: 50%;
    right: 90%;
    transform: translate(-50%,-50%); */
    background-color: #68bb7d;
    height: 65px;
    border-radius: 65px;
    padding: 7px;
    margin-right: 20px;
}

    .search-box:hover > .search-txt {
        width: 240px;
        padding: 0 10px;
    }

    .search-box:hover > .search-btn {
        background: #e9eef5;
    }

.search-btn {
    display: flex;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #68bb7d;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #f8f9fa;
    font-size: 16px;
    transition: 0.4s;
    line-height: 50px;
    width: 0px;
}

