
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Web_Shop_Zay.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAmin.cshtml";
}  <!-- Kết thúc -->
<table class="table table-striped" style="width:700px">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.TenUser</td>
            <td>@item.MatKhauUser</td>
            <td>@item.MatKhauNhapLai</td>
            <td><a href="~/Admin/User/EditUser?id=@item.IDUser" class="btn btn-lg btn-success btn-block">Sửa</a></td>
            <td><a href="~/Admin/User/DeleteUser?id=@item.IDUser" class="btn btn-lg btn-success btn-block">Xóa</a></td>
        </tr>
        }
    </tbody>
</table>

<br>
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
<a href="~/Admin/User/AddUser" class="btn btn-lg btn-success btn-block" style="height:40px;margin-left:150px">Thêm</a>

